.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 506px;
}

.title {
  margin-bottom: 33px;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px 14px;
  background: rgba(255, 255, 255, 0.05);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  width: 485px;
  margin-bottom: 20px;
}
